<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.intel.fibonacciservice"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="15" />

    <application>

        <service android:name=".FibonacciService">
            <intent-filter >
                <action android:name="com.intel.fibonaccicommon.IFibonacciService"/>
            </intent-filter>
        </service>
        
    </application>

</manifest>
